In [1]:
import pandas as pd

In [2]:
dailyActivity_merged = pd.read_csv('dailyActivity_merged_cleaned.csv')

In [3]:
dailyActivity_merged

,Id,ActivityDate,DayOfWeek,MonthName,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,...,LightlyActiveMinutes,SedentaryMinutes,Calories,step_length,TotalMinutes,AvgCalories,VeryActiveRatio,FairlyActiveRatio,LightlyActiveRatio,SedentaryRatio
0,1503960366,2016-03-25,Friday,March,11004,7.11,7.110000,0.0,2.57,0.46,...,205,804,1819,0.000646,1054,1.725806,0.031309,0.011385,0.194497,0.762808
1,1503960366,2016-03-26,Saturday,March,17609,11.55,11.550000,0.0,6.92,0.73,...,274,588,2154,0.000656,968,2.225207,0.091942,0.017562,0.283058,0.607438
2,1503960366,2016-03-27,Sunday,March,12736,8.53,8.530000,0.0,4.66,0.16,...,268,605,1944,0.000670,934,2.081370,0.059957,0.005353,0.286938,0.647752
3,1503960366,2016-03-28,Monday,March,13231,8.93,8.930000,0.0,3.19,0.79,...,224,1080,1932,0.000675,1363,1.417461,0.028613,0.014674,0.164343,0.792370
4,1503960366,2016-03-29,Tuesday,March,12041,7.85,7.850000,0.0,2.16,1.09,...,243,763,1886,0.000652,1062,1.775895,0.026365,0.026365,0.228814,0.718456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,8877689391,2016-04-08,Friday,April,23014,20.39,20.389999,0.0,11.10,0.63,...,359,982,4196,0.000886,1440,2.913889,0.048611,0.020139,0.249306,0.681944
433,8877689391,2016-04-09,Saturday,April,16470,8.07,8.070000,0.0,0.00,0.02,...,289,1052,3841,0.000490,1440,2.667361,0.062500,0.006250,0.200694,0.730556
434,8877689391,2016-04-10,Sunday,April,28497,27.53,27.530001,0.0,21.92,1.12,...,211,1055,4526,0.000966,1440,3.143056,0.088889,0.031944,0.146528,0.732639
435,8877689391,2016-04-11,Monday,April,10622,8.06,8.060000,0.0,1.47,0.15,...,225,1190,2820,0.000759,1440,1.958333,0.012500,0.004861,0.156250,0.826389
436,8877689391,2016-04-12,Tuesday,April,2350,1.78,1.780000,0.0,0.00,0.00,...,58,531,938,0.000757,589,1.592530,0.000000,0.000000,0.098472,0.901528

## Analyze moderate activity minute

In [4]:
# Convert ActivityDate to datetime
dailyActivity_merged['ActivityDate'] = pd.to_datetime(dailyActivity_merged['ActivityDate'])

# Extract the year and week number from the ActivityDate
dailyActivity_merged['YearWeek'] = dailyActivity_merged['ActivityDate'].dt.strftime('%Y-%U')

# moderate activity minute
dailyActivity_merged['moderate_total_minute1'] = dailyActivity_merged['VeryActiveMinutes'] + dailyActivity_merged['FairlyActiveMinutes'] 
dailyActivity_merged['moderate_total_minute2'] = dailyActivity_merged['VeryActiveMinutes'] + dailyActivity_merged['FairlyActiveMinutes'] + dailyActivity_merged['LightlyActiveMinutes']

In [7]:
# Group by Id and YearWeek, and calculate the total minutes per week for each user
total_minutes_per_week1 = dailyActivity_merged.groupby(['Id', 'YearWeek'])['moderate_total_minute1'].sum().reset_index()
total_minutes_per_week2 = dailyActivity_merged.groupby(['Id', 'YearWeek'])['moderate_total_minute2'].sum().reset_index()

# Group by Id to calculate the average minutes per week for each user
average_minutes_per_week1 = total_minutes_per_week1.groupby('Id')['moderate_total_minute1'].mean().reset_index()
average_minutes_per_week2 = total_minutes_per_week2.groupby('Id')['moderate_total_minute2'].mean().reset_index()

# Rename columns for clarity
average_minutes_per_week1.columns = ['Id', 'AverageTotalMinutesPerWeek1']
average_minutes_per_week2.columns = ['Id', 'AverageTotalMinutesPerWeek2']

In [8]:
print(average_minutes_per_week1)
print(average_minutes_per_week2)

            Id  AverageTotalMinutesPerWeek1
0   1503960366                   245.500000
1   1624580081                     6.250000
2   1644430081                   194.333333
3   1844505072                     6.000000
4   1927972279                     6.666667
5   2022484408                   250.333333
6   2026352035                     0.000000
7   2320127002                     8.000000
8   2347167796                   174.666667
9   2873212765                    44.333333
10  2891001357                     0.000000
11  3372868164                    51.000000
12  3977333714                   173.666667
13  4020332650                    62.500000
14  4057192912                    34.833333
15  4319703577                   149.000000
16  4388161847                     0.000000
17  4445114986                    30.000000
18  4558609924                    28.333333
19  4702921684                   101.000000
20  5553957443                   161.000000
21  5577150313                   403.333333
22  6117666160                    15.333333
23  6290855005                    61.666667
24  6391747486                    26.000000
25  6775888955                   311.000000
26  6962181067                   216.000000
27  7007744171                    75.333333
28  7086361926                   175.666667
29  8053475328                   352.666667
30  8253242879                    42.000000
31  8378563200                    44.000000
32  8583815059                    10.000000
33  8792009665                    27.666667
34  8877689391                   327.666667
            Id  AverageTotalMinutesPerWeek2
0   1503960366                  1329.500000
1   1624580081                   581.250000
2   1644430081                   953.333333
3   1844505072                   640.000000
4   1927972279                   453.333333
5   2022484408                  1265.666667
6   2026352035                   677.333333
7   2320127002                   511.666667
8   2347167796                  1442.333333
9   2873212765                  1145.333333
10  2891001357                   675.000000
11  3372868164                  1007.333333
12  3977333714                  1001.333333
13  4020332650                   757.833333
14  4057192912                   241.333333
15  4319703577                  1641.000000
16  4388161847                     0.000000
17  4445114986                  1033.000000
18  4558609924                  1027.666667
19  4702921684                  1334.666667
20  5553957443                   894.333333
21  5577150313                   980.000000
22  6117666160                  1015.000000
23  6290855005                   192.666667
24  6391747486                   180.500000
25  6775888955                   869.000000
26  6962181067                  1045.000000
27  7007744171                   619.000000
28  7086361926                   580.666667
29  8053475328                   918.666667
30  8253242879                   279.000000
31  8378563200                   313.666667
32  8583815059                   558.500000
33  8792009665                   556.000000
34  8877689391                  1291.666667

In [9]:
average_minutes_per_week1.to_excel("average_minutes_per_week1.xlsx")
average_minutes_per_week2.to_excel("average_minutes_per_week2.xlsx")

New classification standard

- At least 150-300 minutes of moderate-intensity aerobic physical activity; or      (fairly active)
- At least 75-150 minutes of vigorous-intensity aerobic physical activity.    (very active)

In [6]:
dailyActivity_merged.columns

Index(['Id', 'ActivityDate', 'DayOfWeek', 'MonthName', 'TotalSteps',
       'TotalDistance', 'TrackerDistance', 'LoggedActivitiesDistance',
       'VeryActiveDistance', 'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories', 'step_length',
       'TotalMinutes', 'AvgCalories', 'VeryActiveRatio', 'FairlyActiveRatio',
       'LightlyActiveRatio', 'SedentaryRatio', 'YearWeek'],
      dtype='object')

In [12]:
dailyActivity_merged[['Id', 'ActivityDate', 'DayOfWeek', 'MonthName', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes',]]

,Id,ActivityDate,DayOfWeek,MonthName,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes
0,1503960366,2016-03-25,Friday,March,33,12,205,804
1,1503960366,2016-03-26,Saturday,March,89,17,274,588
2,1503960366,2016-03-27,Sunday,March,56,5,268,605
3,1503960366,2016-03-28,Monday,March,39,20,224,1080
4,1503960366,2016-03-29,Tuesday,March,28,28,243,763
...,...,...,...,...,...,...,...,...
432,8877689391,2016-04-08,Friday,April,70,29,359,982
433,8877689391,2016-04-09,Saturday,April,90,9,289,1052
434,8877689391,2016-04-10,Sunday,April,128,46,211,1055
435,8877689391,2016-04-11,Monday,April,18,7,225,1190
436,8877689391,2016-04-12,Tuesday,April,0,0,58,531

In [4]:
# Convert ActivityDate to datetime
dailyActivity_merged['ActivityDate'] = pd.to_datetime(dailyActivity_merged['ActivityDate'])

# Extract the year and week number from the ActivityDate
dailyActivity_merged['YearWeek'] = dailyActivity_merged['ActivityDate'].dt.strftime('%Y-%U')

In [19]:
# Group by Id and YearWeek, and calculate the total minutes per week for each user
total_minutes_per_week1 = dailyActivity_merged.groupby(['Id', 'YearWeek'])['FairlyActiveMinutes'].sum().reset_index()
total_minutes_per_week2 = dailyActivity_merged.groupby(['Id', 'YearWeek'])['VeryActiveMinutes'].sum().reset_index()

# Group by Id to calculate the average minutes per week for each user
average_minutes_per_week1 = total_minutes_per_week1.groupby('Id')['FairlyActiveMinutes'].mean().reset_index()
average_minutes_per_week2 = total_minutes_per_week2.groupby('Id')['VeryActiveMinutes'].mean().reset_index()

In [21]:
merged = average_minutes_per_week1.merge(average_minutes_per_week2,on='Id')

In [22]:
merged

            Id  FairlyActiveMinutes  VeryActiveMinutes
0   1503960366            75.250000         170.250000
1   1624580081             2.750000           3.500000
2   1644430081           145.000000          49.333333
3   1844505072             3.000000           3.000000
4   1927972279             6.666667           0.000000
5   2022484408            90.000000         160.333333
6   2026352035             0.000000           0.000000
7   2320127002             4.333333           3.666667
8   2347167796           115.666667          59.000000
9   2873212765            24.000000          20.333333
10  2891001357             0.000000           0.000000
11  3372868164            11.666667          39.333333
12  3977333714           125.000000          48.666667
13  4020332650            40.833333          21.666667
14  4057192912            28.166667           6.666667
15  4319703577           109.500000          39.500000
16  4388161847             0.000000           0.000000
17  4445114986             4.666667          25.333333
18  4558609924            11.000000          17.333333
19  4702921684            86.333333          14.666667
20  5553957443            66.666667          94.333333
21  5577150313           103.333333         300.000000
22  6117666160            13.666667           1.666667
23  6290855005            35.666667          26.000000
24  6391747486             3.000000          23.000000
25  6775888955           221.500000          89.500000
26  6962181067           100.333333         115.666667
27  7007744171            30.666667          44.666667
28  7086361926            70.666667         105.000000
29  8053475328            41.666667         311.000000
30  8253242879            18.666667          23.333333
31  8378563200            11.333333          32.666667
32  8583815059             7.500000           2.500000
33  8792009665            21.666667           6.000000
34  8877689391            60.333333         267.333333

In [23]:
merged.to_excel("average_minutes_per_week_merged.xlsx")